@use "../variables";
@use "sass:map";

/* ------------------------------
Reseteo y general
--------------------------------- */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: map.get(variables.$theme-colors, "dark");
  background-color: map.get(variables.$theme-colors, "light");
}

/* ------------------------------
Header
--------------------------------- */
.header {
  padding: 1rem 0;
  background-color: map.get(variables.$theme-colors, "primary");

  &__container {
    width: 100%;
  }

  &__logo-img {
    max-height: 50px;
  }

  &__link {
    font-weight: 600;
    color: map.get(variables.$theme-colors, "light");
    text-decoration: none;

    &:hover {
      color: map.get(variables.$theme-colors, "info");
    }
  }
}

/* ------------------------------
Footer
--------------------------------- */
.footer {
  padding: 1rem 0;
  color: map.get(variables.$theme-colors, "light");
  background-color: map.get(variables.$theme-colors, "dark");

  &__logo-img {
    max-height: 50px;
  }

  &__link {
    color: map.get(variables.$theme-colors, "light");
    text-decoration: none;

    &:hover {
      color: map.get(variables.$theme-colors, "info");
    }
  }

  &__social-link {
    font-size: 1.25rem;
    color: map.get(variables.$theme-colors, "light");

    &:hover {
      color: map.get(variables.$theme-colors, "info");
    }
  }

  @media (max-width: 768px) {
    &__container {
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  }
}

/* ------------------------------
Index
--------------------------------- */
.home {
  display: grid;
  flex: 1;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  width: 100%;
  max-width: 980px;
  padding: 2rem 1rem;
  margin: 0 auto;
  container-type: inline-size;
  container-name: home;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: variables.$font-family-serif;
    font-size: 3.5rem;
    color: map.get(variables.$theme-colors, "primary");
    text-align: center;
  }

  &__grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 0.75rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: map.get(variables.$theme-colors, "light");
    text-decoration: none;
    background-color: map.get(variables.$theme-colors, "dark");

    &:hover {
      background-color: map.get(variables.$theme-colors, "primary");
    }
  }
}

@container home (max-width: 900px) {
  .home__grid-items {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .home__title {
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
  }
}

/* ------------------------------
Participants
--------------------------------- */
.participants {
  padding-top: 2rem;
  padding-bottom: 2rem;

  container-type: inline-size;
  container-name: participants;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: variables.$font-family-serif;
    color: map.get(variables.$theme-colors, "primary");
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  &__card {
    background-color: map.get(variables.$theme-colors, "light");
    border: 2px solid map.get(variables.$theme-colors, "primary");
    border-radius: 0.5rem;
    padding: 1rem;
    width: calc(33.333% - 1rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      border-color: map.get(variables.$theme-colors, "dark");
    }
  }

  &__image {
    width: 100%;
    max-width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid map.get(variables.$theme-colors, "primary");
  }

  &__name {
    font-size: 1.3rem;
    margin: 0.5rem 0;
    font-weight: 700;
    color: map.get(variables.$theme-colors, "dark");
  }

  &__desc {
    font-size: 1rem;
    color: map.get(variables.$theme-colors, "secondary");
  }
}

@container participants (max-width: 900px) {
  .participants__card {
    width: calc(50% - 1rem);
  }
}

@container participants (max-width: 600px) {
  .participants__card {
    width: 100%;
  }
}