/**
 * Import any npm dependencies in this file
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

@import "variables";

@import "bootstrap/scss/bootstrap";

@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
