@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$mqMinWidth: 420px;
$theme-colors: (
  "primary": #e07a5f,
  "secondary": #3d405b,
  "success": #81b29a,
  "info": #f2cc8f,
  "warning": #f28482,
  "danger": #9d0208,
  "light": #f4f1de,
  "dark": #22223b
);